/* colors */
$primary: #3B8EA5;
$accent: #f6c570;
$light: #F4F4F9;
$white: #fff;
$dark: #333;

/* fonts */
$font-weight-normal: 300;
$font-weight-bold: 600;
$font-weight-light: 100;

$headings-font: 'Crimson Text', serif;
$body-font : 'Open Sans', Helvetica, sans-serif;

$z-index-navbar: 10;
$z-index-content: 20;

$page-box-shadow: -4px 0px 20px darken( $light, 8% );